.carousel-inner > .carousel-item > img {
    width:auto;
    height:800px;
}
.newsletter-titulo{
    text-align: center;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 10px;
}
.nav-item{
    font-size: 22px;
    margin-right: 2mm;
}
.faq-titulo{
    text-align: center;
    margin-top: 10px;
}